* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid limegreen; */
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url("./src/assets/images/texture.png");
}

.splash-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: "Roboto Mono";
  font-size: 0.8rem;
  letter-spacing: 0.08em;
}

.hero-img {
  width: 100%;
  object-fit: contain;
}

.home {
  width: 100%;
}

.product-card {
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono";
  font-size: 1.5em;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.product-image {
  width: 100%;
  object-fit: contain;
}

.vendor-round-container {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-image: url("./src/assets/images/vendor1.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}

.product-details-container {
  display: flex;
  flex-direction: row;
  background-color: #f6f6ea;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.25rem 1rem;
}

.product-price {
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.product-location-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6ea;
  padding: 0 1rem 1rem 1rem;
}

.product-address {
  margin-left: 0.5rem;
  border-bottom: 1px solid black;
}
